@model IEnumerable<ReservaCine.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Salas</h1>

<p>
    <a asp-action="Create">Crear Nueva Sala</a>
</p>
<table class="table text-dark table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadButacas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TipoSala.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadButacas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
