<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>@ViewData["Title"] Reserva de Cine </title>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            @*cambio color de la barra cabecera*@
        <div class="container">
            <a class="navbar-brand font-weight-bold text-danger" asp-area="" asp-controller="Home" asp-action="Index">Reserva de Cine</a> @*agrego color y estilo*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Pelicula" asp-action="Index">Películas</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(Rol.Cliente)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reserva" asp-action="Index">Mis Reservas</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Funcion" asp-action="Index">Funciones</a>
                    </li>
                    
                    @if (User.IsInRole(nameof(Rol.Administrador)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Empleado" asp-action="Index">Empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Sala" asp-action="Index">Salas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="TipoSala" asp-action="Index">Tipo de Salas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Genero" asp-action="Index">Generos</a>
                        </li>

 
                    }




                </ul>
            </div>


            @if (User.Identity.IsAuthenticated)
            {


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item float-right">
                            @if (User.IsInRole(nameof(Rol.Administrador)))

                            {
                                <a class="nav-link text-success font-italic" asp-area="" asp-controller="Empleado"                               asp-action="Details"   asp-route-id=@User.FindFirstValue("IdDeUsuario")>@User.FindFirstValue(ClaimTypes.GivenName)</a>
                            }
                            else if((User.IsInRole(nameof(Rol.Cliente)))) {
                                <a class="nav-link text-success font-italic" asp-area=""  asp-controller="Cliente"                               asp-action="Details"   asp-route-id=@User.FindFirstValue("IdDeUsuario")>@User.FindFirstValue(ClaimTypes.GivenName)</a>
                               

                            }
                        </li>



                        <li class="nav-item float-right">
                            <form asp-controller="Usuario" asp-action="Salir" method="post">
                                <button type="submit" class="nav-link font-weight-bold text-light border border-dark btn btn-danger">Salir</button> @*agrego estilo al botón salir*@
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-light border border-dark btn btn-danger" asp-area="" asp-controller="Usuario" asp-action="Ingresar">Ingresar</a>@*agrego estilo al botón*@
                        </li>
                    </ul>
                </div>
            }

        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()

    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Reserva de Cine - Todos los derechos están protegidos por Copyright © 
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
