@model ReservaCine.Models.Funcion

@{
    ViewData["Title"] = "Create";
}


<h1>Crear Función</h1>

<h4>Función</h4>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Confirmar" /> @Html.DisplayNameFor(model => model.Confirmar)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <br />
                <select id="ddlSala" name="SalaId" class="custom-select">
                    <option value="">-- Seleccionar Sala --</option>
                    @foreach (Sala sala in ViewBag.SalaId)
                    {
                        <option value="@sala.Id" >@sala.Numero</option>
                    }
                </select>
                <input asp-for="SalaId"  name="SalaId" type="hidden" class="form-control" />
                <span asp-validation-for="SalaId"  class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pelicula" class="control-label"></label>
                <br />
                <select id="ddlPelicula" name="PeliculaId" class="custom-select">
                    <option value="">-- Seleccionar Película --</option>
                    @foreach (Pelicula pelicula in ViewBag.PeliculaId)
                    {
                        <option value="@pelicula.Id">@pelicula.Titulo</option>
                    }
                </select>
                <input asp-for="PeliculaId" type="hidden" name="PeliculaId" class="form-control" />
                <span asp-validation-for="PeliculaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver a la Lista</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
