@model ReservaCine.Models.Funcion

@{
    ViewData["Title"] = "Delete";
}
@if (User.Identity.IsAuthenticated && User.IsInRole(nameof(Rol.Administrador)))
{
    <h1>Eliminar</h1>
}

<h3>¿Está seguro de querer eliminar esta Función?</h3>
<div>
    <h4>Función</h4>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantButacasDisponibles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantButacasDisponibles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Confirmar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
